<h2>My Bookings</h2>

<% @reservations.each do |res| %>
  <div class="card p-2 mb-2">
    <strong>Granny:</strong> <%= res.granny.name %><br>
    <strong>From:</strong> <%= res.start_date %> — <strong>To:</strong> <%= res.end_date %><br>
    <strong>Status:</strong> <%= res.status.capitalize %><br>
    <strong>Total:</strong> R<%= res.total_price %>
  </div>
<% end %>
