<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "icons/logo_icon.svg", alt: "gramGram logo" %>
      <span class="navbar-brand-text">GramGram</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Browse Grannies", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Listings", dashboard_listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", dashboard_bookings_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "How it works", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Browse Grannies", root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "List your Granny", new_granny_path, class: "btn btn-primary" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar me-2", alt: "User avatar" %>
              <span class="d-none d-md-inline"><%= current_user.first_name || "Account" %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", "#", class: "dropdown-item" %>
              <%= link_to "Account Settings", "#", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Help Center", "#", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbo: false } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "List your Granny", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
